@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

:root {
  --ff: 'Jost', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --ff-alt: 'Playfair Display', serif;
  --clr-light: #ffffff;
  --clr-dark: #010101;
  --clr-primary: hsl(219, 90%, 80%);
  --clr-secondary: hsl(64, 93%, 51%);
  --clr-error: hsl(0, 73.9%, 65.5%);
  --animation: all 250ms ease;
}

body {
  margin: 0;
  overflow: hidden;

  background-color: var(--clr-light);

  font-family: var(--ff);
  font-size: 16px;
  font-weight: lighter;
  color: var(--clr-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

@media (min-width: 30em) {
  body {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-alt);
  font-weight: normal;
  margin: 1em 0 0.5em 0;
  line-height: 1.2;
}

p {
  text-align: justify;
  line-height: 1.5;
}

hr {
  border: 0.1px solid var(--clr-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 0px;
  padding-left: 1em;
  list-style: square;
}

.progress {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background: var(--clr-light);
  margin: 0.5em 0;
  padding: 0.1em 0.5em;
  border: 1px solid var(--clr-dark);
}

.progress > span {
  position: relative;
  z-index: 1;
}

.progress > div {
  height: 100%;
  background: var(--clr-primary);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
